body {
    --color-primary: #009579;
    --color-primary-dark: #007f67;
    --color-secondary: #252c6a;
    --color-error: #cc3333;
    --color-success: #4bb544;
    --border-radius: 4px;

    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background: url(background.png);
    background-size: cover;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  padding: 20px;
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

#massiveContainer{
    display: flex;
}

#container {
    width: 400px;
    max-width: 400px;
    margin: 1rem;
    padding: 2rem;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    border-radius: var(--border-radius);
    background: #ffffff;
}

#container_createAccount{
    width: 400px;
    max-width: 400px;
    margin: 1rem;
    padding: 2rem;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    border-radius: var(--border-radius);
    background: #ffffff;
}

.container,
.greyContainer,
.container_createAccount,
.form__input,
.form__button {
    font: 500 1rem 'Quicksand', sans-serif;
}

.form--hidden {
    display: none;
}

.form > *:first-child {
    margin-top: 0;
}

.form > *:last-child {
    margin-bottom: 0;
}

.form__title {
    margin-bottom: 2rem;
    text-align: center;
}

.form__message {
    text-align: center;
    margin-bottom: 1rem;
}

.form__message--success {
    color: var(--color-success);
}

.form__message--error {
    color: var(--color-error);
}

.form__input-group {
    margin-bottom: 1rem;
}

.form__input {
    display: block;
    width: 100%;
    padding: 0.75rem;
    box-sizing: border-box;
    border-radius: var(--border-radius);
    border: 1px solid #dddddd;
    outline: none;
    background: #eeeeee;
    transition: background 0.2s, border-color 0.2s;
}

.form__input:focus {
    border-color: var(--color-primary);
    background: #ffffff;
}

.form__input__chat {
    width: 75%;
    padding: 0.75rem;
    box-sizing: border-box;
    border-radius: var(--border-radius);
    border: 1px solid #dddddd;
    outline: none;
    background: #eeeeee;
    transition: background 0.2s, border-color 0.2s;
}

.form__input__chat:focus {
    border-color: var(--color-primary);
    background: #ffffff;
}

.form__input--error {
    color: var(--color-error);
    border-color: var(--color-error);
}

.form__input-error-message {
    margin-top: 0.5rem;
    font-size: 0.85rem;
    color: var(--color-error);
}

.form__button {
    width: 100%;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1.1rem;
    color: #ffffff;
    border: none;
    border-radius: var(--border-radius);
    outline: none;
    cursor: pointer;
    background: var(--color-primary);
}

.form__button:hover {
    background: var(--color-primary-dark);
}

.form__button:active {
    transform: scale(0.98);
}

.form__button__send {
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1.1rem;
    color: #ffffff;
    border: none;
    border-radius: var(--border-radius);
    outline: none;
    cursor: pointer;
    background: var(--color-primary);
}

.form__button__send:hover {
    background: var(--color-primary-dark);
}

.form__button__send:active {
    transform: scale(0.98);
}

.form__button__red {
    width: 100%;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1.1rem;
    color: #ffffff;
    border: none;
    border-radius: var(--border-radius);
    outline: none;
    cursor: pointer;
    background: var(--color-error);
}

.form__button__red:hover {
    background: var(--color-error);
}

.form__button__red:active {
    transform: scale(0.98);
}

.form__text {
    text-align: center;
}

.form__link {
    color: var(--color-secondary);
    text-decoration: none;
    cursor: pointer;
}

.form__link:hover {
    text-decoration: underline;
}



#messages{
    list-style: none;
}

li{
    width: 90%;
    background-color: white;
    border: 2px solid black;
    margin-bottom: 5px;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
    align-self: center;
}

#message_sender{
    align-content: center;
    width: auto;
    position: absolute;
    bottom: 2%;
}

.MyTitle{
    text-align: center;
}

#greyContainer {
    align-content: center;
    height: 100%;
    width: 62.5%;
    margin: 0px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    border-radius: var(--border-radius);
    border: 2px solid grey;
    background: #DBE5ED;
}
#greyContainerTop {
    background: white;
}
#greyContainerLeft {
    align-content: center;
    height: 100%;
    width: 35%;
    padding: 2rem;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    border-radius: var(--border-radius);
    background: white;
}
#greyContainerLeftTop {
    align-content: center;
    background: white;
}
#greyContainerLeftTopInner{
    display: flex;
    background: white;
}
#greyContainerRight {
    align-content: center;
    height: 100%;
    width: 5%;
    margin: 0px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    border-radius: var(--border-radius);
    background: white;
}
#fetchChats {
    background: red;
}

h3.activeChat{
    margin-right: auto;
}

button {
  background-color: #DBE5ED;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: 2px solid grey;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}


button.buttonPlus{
  background-color: #DBE5ED;
  color: black;
  border: 1px solid black;
  cursor: pointer;
  width: 10%;
  border-radius: var(--border-radius);
}
button.buttonCircleRed{
  margin-left: 25%;
  margin-right: auto;
  padding: 20px;
  background-color: red;
  border: 1px solid black;
  width: 20%;
  height: 20%;
  border-radius: 50%;
}
button.buttonCircleGreen{
  margin-left: 25%;
  margin-right: auto;
  padding: 20px;
  background-color: #04AA6D;
  border: 1px solid black;
  width: 20%;
  height: 20%;
  border-radius: 50%;
}

button.buttonSend{
  background-color: #4bb544;
  color: white;
  border: 1px solid black;
  cursor: pointer;
  width: 10%;
  border-radius: var(--border-radius);
}


button.buttonLogOut{
  background-color: red;
  margin-top: 1rem;
  color: white;
  border: 1px solid black;
  cursor: pointer;
  border-radius: var(--border-radius);
}

img.logo{
    padding-top: 1rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}

#flexDiv{
    display: flex;
}

input.enterMessageField {
    width: 915px;
    padding: 0.75rem;
    border: 1px solid grey;
    outline: none;
    background: white;
    border-radius: var(--border-radius);
}

.enterMessageField:focus {
    border-color: var(--color-primary);
    background: #ffffff;
}

.textLike__button {
    width: 100%;
    font-size: 1.1rem;
    color: var(--color-secondary);
    border: none;
    border-radius: var(--border-radius);
    outline: none;
    cursor: pointer;
    background: white;
}

.textLike__button:hover {
    text-decoration: underline;
}

.textLike__button:active {
    transform: scale(0.98);
}


